<ul class="navbar-nav">
  <%= render_nav_actions do |config, action|%>
    <li class="nav-item"><%= action %></li>
  <% end %>
  <li class="nav-item"><%= link_to 'About', "https://uwm.edu/libraries/agsl/agsl-geospatial-data/agsl-discovery-applications/about-geodiscovery/",{class: 'nav-link'} %></li>
  <li class="nav-item"><%= link_to 'AGSL Home', "https://uwm.edu/libraries/agsl/",{class: 'nav-link'} %></li>
  <li class="nav-item"><%= link_to 'Help', "https://uwm.edu/libraries/agsl/agsl-geospatial-data/agsl-discovery-applications/about-geodiscovery/geodiscovery-help/",{class: 'nav-link'} %></li>
</ul>